.container {
  display: block;
  background-image: url("/images/web3auth-bg-dots.png"), linear-gradient(138.93deg, #0364ff 14.81%, #1ac7fe 85.98%);
  background-position: left -280px top -150px, center center;
  background-size: auto, 100%;
  background-repeat: no-repeat;
  border-radius: 10px;
  height: fit-content;
  padding: 20px;
}

.cardQuickStart {
  height: 100%;
  width: 100%;
}

.content {
  max-width: 472px;
  height: 100%;
  display: flex;
  flex-flow: column;
}

.headline {
  font-weight: 600;
  font-size: 28px;
  line-height: 1.5em;
  letter-spacing: 0.002em;
  color: #ffffff;
  margin-bottom: 8px;
}

.description {
  font-size: 15px;
  line-height: 1.2em;
  color: #f3f3f4;
}

.btnContainer {
  margin-top: 20px;
}

.ctaBtn {
  background: #0364ff;
  color: #ffffff;
  cursor: pointer;
  border-radius: 10px;
  border: 0;
  font-weight: 700;
  font-size: 14px;
  height: 42px;
  padding: 0 20px;
}

.ctaBtn.ctaBtnWhite {
  background: #ffffff;
  color: #0364ff;
  /* margin-left: 16px; */
}

.ctaBtn:hover {
  background: #3f89ff;
  text-decoration: none;
}

.ctaBtn:active {
  background: #68a2ff;
}

.ctaBtn.ctaBtnWhite:hover {
  background: #f3f3f4;
  text-decoration: none;
}

.ctaBtn.ctaBtnWhite:active {
  background: #daf0ff;
}

@media (min-width: 700px) {
  .container {
    background-image: url("/images/web3auth-right.png"), url("/images/web3auth-bg-dots.png"),
      linear-gradient(138.93deg, #0364ff 14.81%, #1ac7fe 85.98%);
    background-position: right, left -280px top -150px, center center;
    background-size: auto, auto, 100%;
    height: 326px;
    padding: 45px 55px;
  }

  .cardQuickStart {
    height: 100%;
    width: calc(100% - 250px);
  }

  .headline {
    font-size: 32px;
  }

  .description {
    font-size: 16px;
  }

  .btnContainer {
    margin-top: auto;
  }
}
