.container {
  display: flex;
  flex-direction: row;
}

.card {
  flex: 1;
  background: #ffffff;
  max-width: 48%;
  text-decoration: none;
  box-shadow: 0px 14px 28px rgba(92, 108, 127, 0.1);
  border-radius: 6px;
  margin-right: 26px;
  margin-bottom: 26px;
  padding: 30px 40px;
}

.card:last-of-type {
  margin-right: 0;
}

.cardOne {
  box-shadow: 0px 14px 28px rgba(3, 100, 255, 0.1);
}

@media (max-width: 1156px) {
  .container {
    flex-direction: column;
  }
  .card {
    margin-right: 0;
    max-width: 100%;
  }
}

.card .headline {
  font-family: Avenir;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  height: 20px;
  color: black;
}

.card .title {
  font-size: 14px;
  color: #0364ff;
}

.card a.footer {
  color: #0364ff;
  font-weight: bold;
  background-image: url(/images/next-arrow.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 100% 50%;
  max-width: 110px;
  display: block;
  margin-left: 0px;
  padding-left: 0px;
}
