.container {
  display: flex;
  flex-direction: row;
  gap: 2%;
}

.card {
  border: 1px solid #f5f7f9;
  flex-basis: 49%;
  background: #f5f7f9;
  box-shadow: 0px 14px 30px rgba(3, 100, 255, 0.06);
  text-decoration: none;
  border-radius: 8px;
  padding: 30px 40px;
  color: #415875;
  margin-bottom: 2%;
}

.card .headline {
  color: #415875;
}

.card .description {
  color: #415875;
}

.card:hover {
  border: 1px solid rgba(3, 100, 255, 0.1);
}

.cardIcon {
  height: 40px;
  width: 40px;
}

@media (max-width: 996px) {
  .container {
    flex-direction: column;
  }
  .card {
    max-width: 100%;
  }
}

.card .title {
  font-size: 20px;
  line-height: 25px;
  color: #405774;
  padding-top: 10px;
  padding-bottom: 10px;
}

.card a.footer {
  color: #0364ff;
  font-weight: bold;
  display: block;
}

html[data-theme="dark"] .card {
  border: 1px solid #2e303b;
  background: #2e303b;
  box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.3);
  color: #b3c0ce;
}

html[data-theme="dark"] .card:hover {
  border: 1px solid #5f657a;
}

html[data-theme="dark"] .card .title {
  color: #d3d3d4;
}
html[data-theme="dark"] .card a.footer {
  color: #8cc8ff;
}
html[data-theme="dark"] h2 {
  color: #d3d3d4;
}

html[data-theme="dark"] .card .headline {
  color: #d3d3d4;
}

html[data-theme="dark"] .card .description {
  color: #d3d3d4;
}
