.container {
  display: flex;
  flex-direction: row;
  gap: 2%;
}

.card {
  border: 1px solid #f5f7f9;
  flex-basis: 49%;
  background: #f5f7f9;
  box-shadow: 0px 14px 30px rgba(3, 100, 255, 0.06);
  text-decoration: none;
  border-radius: 8px;
  padding: 30px 40px;
  color: #415875;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2%;
}

.card .headline {
  color: #415875;
}

.card .description {
  color: #415875;
}

.logo {
  width: 60px;
  height: 60px;
}

.card:hover {
  box-shadow: 0px 14px 30px rgba(3, 100, 255, 0.2);
}

.card:hover .footer {
  color: #0016de;
}

.cardIcon {
  height: 40px;
  width: 40px;
}

@media (max-width: 996px) {
  .container {
    flex-direction: column;
  }
  .card {
    max-width: 100%;
  }
}

.card .title {
  font-size: 20px;
  line-height: 25px;
  color: #405774;
  padding-top: 10px;
  padding-bottom: 10px;
}

.card .footer {
  color: #0364ff;
  font-weight: bold;
  display: block;
}
