.container {
  display: flex;
  flex-direction: row;
  gap: 2%;
}

.card {
  flex-basis: 49%;
  background: #ffffff;
  text-decoration: none;
  box-shadow: 0px 14px 28px rgba(92, 108, 127, 0.1);
  border-radius: 6px;
  margin-bottom: 2%;
  padding: 30px 40px;
}

.cardOne {
  box-shadow: 0px 14px 28px rgba(3, 100, 255, 0.1);
}

@media (max-width: 1156px) {
  .container {
    flex-direction: column;
  }
  .card {
    max-width: 100%;
  }
}

.card .headline {
  font-family: Avenir;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  height: 15px;
  color: grey;
}

.card .title {
  font-family: Avenir;
  font-style: bold;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  height: 12px;
  color: black;
}

.card a.footer {
  color: #0364ff;
  font-weight: bold;
  background-image: url(/images/next-arrow.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 100% 50%;
  max-width: 110px;
  display: block;
  margin-left: 0px;
  padding-left: 0px;
}
