<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	// HIGHLIGHTSTART-registerApp
	<key>ClientId</key>
	<string>your-client-id</string>
	// HIGHLIGHTEND-registerApp
	<key>Network</key>
	<string>mainnet</string>
</dict>
</plist>
