.container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: #676767;
  background: white;
  height: 258px;
  background: #ffffff;
  box-shadow: 0px 14px 28px rgba(92, 108, 127, 0.06);
  border-radius: 6px;
}
