.heading {
  font-weight: 700 !important;
  font-size: 32px;
  line-height: 48px;
  color: var(--ifm-color-content);
  margin: 0;
  padding: 0;
}

.container p {
  font-weight: 400 !important;
  font-size: 16px;
  line-height: 150%;
  display: block;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 34px;
  margin-top: 34px;
  flex-wrap: wrap;
}
.cardContainer {
  display: flex;
  flex-direction: row;
  gap: 34px;
  flex-wrap: wrap;
  flex: 0 0 100%; /* Let it fill the entire space horizontally */
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 33px 22px ;
  /* white */
  background: var(--ifm-background-surface-color);
  /* gray/200 */
  border: 1px solid  var(--w3a-border-color);
  /* shadow-sm */
  box-shadow: 0px 1px 2px var(--w3a-border-color);
  border-radius: 8px;
  text-decoration: none;
  color: var(--ifm-color-content);
  gap: 34px;
  flex: 1;
}

.card:hover {
  border: 1px solid var(--ifm-color-primary);
}

.cardIconContainer {
  height: 74px;
  width: 74px;
  padding: 7px;
  background-color:  var(--ifm-background-surface-color);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardIcon {
  height: 67px;
  width: 67px;
  color: var(--w3a-color-icon-gray);
}

.card:hover .cardIconContainer {
  background-color: var(--w3a-color-icon-active-background);
}

.card:hover .cardIcon {
  color: var(--ifm-color-primary);
}

.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
}

.cardContent h5 {
  font-weight: 700 !important;
  font-size: 24px;
  line-height: 135.5%;
  color: var(--ifm-color-content);
  display: block;
  margin: 0;
  padding: 0;
}

.cardContent p {
  font-weight: 400 !important;
  font-size: 16px;
  line-height: 150%;
  display: block;
  margin: 0;
  padding: 0;
  color: var(--w3a-color-icon-gray);
}

@media (max-width: 996px) {
  .cardContainer {
    flex-direction: column;
  }
  .card {
    flex-direction: column;
  }
}
