.heading {
  margin: 0;
  padding: 0;
}

.container p {
  font-weight: 400 !important;
  font-size: 14px;
  line-height: 150%;
  display: block;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 17px;
  margin-top: 17px;
  margin-bottom: 17px;
  flex-wrap: wrap;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  gap: 17px;
  flex-wrap: wrap;
  flex: 0 0 100%;
  /* Let it fill the entire space horizontally */
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 17px;
  /* white */
  background: var(--ifm-background-surface-color);
  /* gray/200 */
  border: 1px solid var(--w3a-border-color);
  /* shadow-sm */
  box-shadow: 0px 1px 2px var(--w3a-border-color);
  border-radius: 8px;
  text-decoration: none;
  color: var(--ifm-color-content);
  gap: 17px;
  flex: 1;
}

.card:hover {
  border: 1px solid var(--ifm-color-primary);
}

.cardIconContainer {
  padding: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardIcon {
  height: 40px;
  width: 40px;
  color: var(--w3a-color-icon-gray);
}

.card:hover .cardIconContainer {
  background-color: var(--w3a-color-icon-active-background);
}

.card:hover .cardIcon {
  color: var(--ifm-color-primary);
}

.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 12px;
}

.cardContent h5 {
  font-size: 20px;
  line-height: 150%;
  color: var(--ifm-color-content);
  display: block;
  margin: 0;
  padding: 0;
}

.cardContent p {
  font-size: 14px;
  line-height: 150%;
  display: block;
  margin: 0;
  padding: 0;
  color: var(--w3a-color-icon-gray);
}

@media (max-width: 996px) {
  .cardContainer {
    flex-direction: column;
  }

  .card {
    flex-direction: column;
  }
}
