.header {
  padding: 1rem 2rem;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.content {
  min-width: 1000px;
}

.body {
  width: 100%;
  display: flex;
  margin-bottom: 4rem;
}

.leftCol {
  width: 40%;
}

.leftHeading {
  margin-left: 2rem;
}

.rightCol {
  width: 58.5%;
  height: 86vh;
  position: sticky;
  top: 11vh;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 1rem;
  padding: 0 0.5rem;
}

.optionContainer {
  display: flex;
  flex-direction: row;
  margin-right: 2rem;
}

.optionLabel {
  font-weight: 500;
  margin-top: 0.25rem;
  margin-right: 0.25rem;
}
