.container {
  width: 100%;
  height: 100%;
}

.optionsPane {
  display: flex;
  flex-direction: row;
  padding: 20px var(--ifm-navbar-padding-horizontal);
  flex-wrap: wrap;
  grid-gap: 8px 0;
  background: var(--ifm-color-emphasis-100);
  box-shadow: var(--ifm-navbar-shadow);
}

.cols {
  width: 100%;
  display: block;
  flex-direction: row;
}

.leftCol {
  overflow-x: hidden;
  overflow-y: scroll;
  margin-left: 0;
  margin-right: 0;
}

.stepContainer {
  padding: 1.25rem var(--ifm-navbar-padding-horizontal);
  border-left: 6px solid transparent;
  cursor: pointer;
}

.stepContainer:hover {
  border-color: var(--ifm-color-primary-darkest);
}

.stepContainer.stepSelected {
  background-color: var(--ifm-background-surface-color);
  border-color: var(--ifm-color-primary);
}

/* .stepContainer p {
  margin-bottom: 0;
} */

.stepContainer .stepHeader {
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  margin-bottom: 12px;
  font-size: 20px;
}

.rightCol {
  width: 100%;
}

/* Switch */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--ifm-color-emphasis-200);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: var(--ifm-color-gray-400);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

.switch input:checked + .slider {
  background-color: var(--ifm-color-primary-light);
}

.switch input:checked + .slider:before {
  background-color: var(--ifm-color-white);
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px var(--ifm-color-primary-light);
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Drowpdown */
.w3DropdownLink {
  cursor: pointer;
  margin-right: 0.5rem;
}

.w3DropdownLink:after {
  border: none;
  content: "";
  display: inline-block;
  margin-right: 10px;
  box-sizing: border-box;
  position: absolute;
  width: 7px;
  height: 7px;
  border-bottom: 2px solid;
  border-right: 2px solid;
  transform: rotate(45deg);
  right: -18px;
  top: 9px;
}

.w3DropdownMenu {
  padding: 4px 0;
  margin-top: -5px;
}

.w3DropdownMenu li {
  padding: 4px 12px;
  cursor: pointer;
}

.w3DropdownMenu li:hover {
  background-color: var(--w3a-color-product-selection-menu-background);
}

@media (min-width: 960px) {
  .cols {
    display: flex;
    height: calc(100vh - 86px);
  }
  .leftCol {
    width: 40%;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-left: 0;
    margin-right: 0;
  }
  .rightCol {
    width: 60%;
  }
}

.heading {
  color: var(--ifm-color-content);
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
}

.productSelection {
  display: block;
  width: 100%;
}

.productSelection h3 {
  font-weight: 600 !important;
  font-size: 18px;
  line-height: 150%;
  color: var(--ifm-color-content);
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  gap: var(--ifm-spacing-horizontal);
}

.card,
.selectedCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 5px;
  padding: 20px 30px;
  /* white */
  background: var(--ifm-background-surface-color);
  /* gray/200 */
  border: 1px solid var(--w3a-border-color);
  /* shadow-sm */
  box-shadow: 0px 1px 2px var(--w3a-border-color);
  border-radius: 8px;
  text-decoration: none;
  color: var(--ifm-color-content);
  cursor: pointer;
  flex: 1;
}

.selectedCard {
  border: 1px solid var(--ifm-color-primary) !important;
}

.cardIconContainer {
  height: 32px;
  width: 32px;
  padding: 6px;
  background-color: var(--w3a-color-icon-active-background);
  border-radius: 100%;
  margin-bottom: 10px;
}

.cardIcon {
  height: 20px;
  width: 20px;
  color: var(--ifm-color-primary);
}

.title {
  font-size: 20px;
  line-height: 150%;
  color: var(--ifm-color-content);
  padding-top: 6px;
  font-weight: 700 !important;
}

.card p,
.selectedCard p {
  margin: 0;
  padding: 0;
  font-weight: 400 !important;
  font-size: 14px;
  line-height: 150%;
  color: var(--w3a-color-icon-gray);
}

.list {
  margin: 5px;
  padding: 0;
  list-style: none;
  flex: 1;
}

.list h3 {
  font-weight: 600 !important;
  font-size: 18px;
  line-height: 150%;
  color: var(--ifm-color-content);
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
}

.list select {
  margin-top: 10px;
  padding: 14px;
  font-weight: 500 !important;
  font-size: 16px;
  line-height: 150%;
  color: var(--ifm-color-content);
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  width: 100%;
  /* white */
  background: var(--ifm-background-surface-color);
  /* gray/200 */
  border: 1px solid var(--w3a-border-color);
  /* shadow-sm */
  box-shadow: 0px 1px 2px var(--w3a-border-color);
  border: 1px solid var(--w3a-border-light-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 98%;
  background-position-y: 15px;
}

.list select::-ms-expand {
  display: none;
}

.list :disabled {
  color: var(--w3a-color-icon-gray);
}

@media (max-width: 996px) {
  .cardContainer {
    flex-direction: column;
  }
  .card,
  .selectedCard {
    max-width: 100%;
  }
  .optionsPane {
    flex-direction: column;
  }
}
