.container {
  width: 100%;
  height: 100%;
}

.optionsPane {
  display: flex;
  flex-direction: row;
  padding: 20px var(--ifm-navbar-padding-horizontal);
}

.optionContainer {
  display: flex;
  flex-direction: row;
  margin-right: 1.5rem;
}

.optionContainer:last-child {
  margin-right: 0;
}

.optionContainer > span {
  color: rgb(72, 77, 91);
  font-weight: 500;
  margin-right: 0.5rem;
}

.optionContainer :global .navbar__link {
  padding: 0;
}

.cols {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: calc(100vh - 86px);
}

.leftCol {
  width: 40%;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-left: 0;
  margin-right: 0;
}

.leftCol .heading > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;
}

.leftCol .copyButton {
  margin-left: 8px;
  border: none;
  background: none;
  cursor: pointer;
  color: rgb(77, 77, 77);
  padding: 4px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyButton:hover {
  background-color: var(--ifm-menu-color-background-active);
}

.copyButton.copied {
  color: rgb(131, 131, 131);
}
.copyButton.copied:hover {
  cursor: default;
  background: none;
}

.leftCol .heading {
  padding: 0 var(--ifm-navbar-padding-horizontal);
}

.leftCol .heading :global .pills__item {
  user-select: none;
}

.leftCol h1 {
  font-family: Poppins;
  font-weight: 600;
  margin: 0;
}

.stepContainer {
  padding: 1.25rem var(--ifm-navbar-padding-horizontal);
  box-shadow: inset 0 1px #e3e8ee;
  border-left: 6px solid transparent;
  cursor: pointer;
}

.stepContainer:hover {
  border-color: #dadfe4;
}

.stepContainer.stepSelected {
  background-color: #f7fafc;
  border-color: var(--ifm-color-primary);
}

/* .stepContainer p {
  margin-bottom: 0;
} */

.stepContainer .stepHeader {
  font-family: Poppins;
  font-weight: 600;
  margin-bottom: 12px;
}

.rightCol {
  width: 60%;
}
