.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: Poppins;
  font-size: 34px;
  font-weight: 600;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 32px;
}

.cover {
  width: 100%;
  text-align: center;
  border-radius: 20px;
}

@media only screen and (min-width: 768px) {
  .title {
    font-size: 48px;
    margin-top: 42px;
    margin-bottom: 42px;
    width: 90%;
  }
  .cover {
    width: 90%;
  }
}

@media only screen and (min-width: 1216px) {
  .title {
    font-size: 52px;
    width: 80%;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .cover {
    width: 80%;
  }
}
