.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 34px;
  margin-bottom: 34px;
  flex-wrap: wrap;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  flex: 0 0 100%;
  /* Let it fill the entire space horizontally */
}

.platformIconSection {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 16px;
  color: var(--ifm-color-content);
}

.platformIconContainer {
  height: 41px;
  width: 41px;
  background-color: var(--w3a-color-icon-background);
  color: var(--ifm-color-content);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
  border: 1px solid var(--w3a-color-icon-background);
}

.platformIconContainer:hover {
  border: 1px solid var(--ifm-color-primary);
}

.pillContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* white */
  background: var(--w3a-color-icon-active-background);
  border-radius: 8px;
  text-decoration: none;
  padding: 0;
  margin: 0;
  width: max-content;
  overflow: hidden;
  flex-wrap: wrap;
  color: var(--ifm-color-content);
  border: 1px solid var(--w3a-color-icon-active-background);
}

.pillContainer:hover {
  border: 1px solid var(--ifm-color-primary);
}

.pill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: max-content;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 12px;
  padding-right: 12px;
  margin: 0;
  font-weight: 500 !important;
  font-size: 12px;
  line-height: 150%;
  color: var(--ifm-color-content);
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding: 30px;
  /* white */
  background: var(--ifm-background-surface-color);
  /* gray/200 */
  border: 1px solid var(--w3a-border-color);
  /* shadow-sm */
  box-shadow: 0px 1px 2px var(--w3a-border-color);
  border-radius: 16px;
  text-decoration: none;
  color: var(--ifm-color-content);
  gap: 16px;
  flex: 1;
}

.cardAlert {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding: 16px;
  /* white */
  background: var(--w3a-banner-background);
  /* shadow-sm */
  box-shadow: 0px 1px 2px var(--w3a-border-color);
  border-radius: 16px;
  text-decoration: none;
  color: var(--ifm-color-content);
  gap: 34px;
  flex: 1;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  flex-wrap: wrap;
  margin-top: 16px;
}

.links a {
  font-weight: 500 !important;
  font-size: 14px;
  line-height: 150%;
  display: flex;
  align-items: center;
  gap: 6px;
  color: var(--ifm-color-content);
}

.links a:hover {
  color: var(--ifm-color-primary);
}

.card:hover {
  border: 1px solid var(--ifm-color-primary);
}

.cardIconContainer {
  height: 60px;
  width: 60px;
  padding: 5px;
  background-color: var(--ifm-background-surface-color);
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnContainer {
  margin-top: auto;
  flex-direction: row;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  gap: 6px;
  flex-wrap: wrap;
}

.btnContainerAlert {
  margin-top: auto;
  flex-direction: row;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  flex-wrap: wrap;
  padding: 8px 12px;
  border-radius: 8px;
  background: var(--ifm-color-primary);
  color: var(--ifm-background-surface-color);
}

.cardIcon {
  height: 50px;
  width: 50px;
  color: var(--w3a-color-icon-gray);
}

.cardIconAlert {
  height: 20px;
  width: 20px;
  color: var(--ifm-color-primary);
}

.card:hover .cardIcon {
  color: var(--ifm-color-primary);
}

.card:hover .cardHeader {
  color: var(--ifm-color-primary);
}

.cardHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  color: var(--ifm-color-content);
}

.cardHeader h5 {
  font-size: 20px;
  line-height: 150%;
  display: block;
  margin: 0;
  padding: 0;
}

.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 12px;
  flex-grow: 1;
}

.cardContentText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  flex-grow: 1;
}

.cardContent span {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.cardContent h5 {
  font-size: 20px;
  line-height: 150%;
  color: var(--ifm-color-content);
  display: block;
  margin: 0;
  padding: 0;
}

.cardContent p {
  font-size: 15px;
  line-height: 150%;
  display: block;
  margin: 0;
  padding: 0;
  color: var(--w3a-color-icon-gray);
}

@media (max-width: 1250px) {
  .cardContainer {
    flex-direction: column;
  }

  .card {
    flex-direction: column;
  }
}
