.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px 0;
}

.container {
  margin-bottom: 60px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-flow: row wrap;
}

.header h1 {
  font-family: var(--ifm-font-family-base);
  font-size: 60px;
}

.header p {
  font-size: 22px;
  color: var(--ifm-font-family-base);
}

.header hr {
  width: 50%;
  border: 0;
  border-top: 1px solid #ccc;
  padding: 0;
  margin: 0;
}

.article {
  width: 100%;
  cursor: pointer;
  color: var(--ifm-navbar-link-color);
  text-decoration: none;
  padding: 0 8px;
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .article {
    width: 45%;
    margin: 2%;
    min-width: 260px;
  }
}

@media only screen and (min-width: 1216px) {
  .article {
    width: 28%;
  }
}

.article img {
  border-radius: 20px;
  margin-bottom: 12px;
  transition: 0.5s ease;
}

.article:hover {
  text-decoration: none;
  color: var(--ifm-navbar-link-hover-color);
}

.article:hover img {
  opacity: 0.7;
}

.article .contentContainer {
  padding: 0 8px;
}

.article h3 {
  font-family: var(--ifm-font-family-base);
  font-weight: 600;
  font-size: 22px;
}
