.header {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px 0;
  margin: 5%;
  margin-top: 20px;
  margin-bottom: 0;
}

.header h1 {
  font-family: var(--ifm-font-family-base);
  font-weight: 900;
  font-size: 60px;
  text-align: center;
}

.header p {
  font-size: 22px;
}

.header hr {
  width: 100%;
  border: 0;
  border-top: 1px solid #ccc;
  padding: 0;
}

.container {
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  margin: 5%;
  margin-top: 20px;
  margin-bottom: 60px;
  justify-content: left;
}

.article {
  width: 90%;
  color: var(--ifm-font-color-base);
  text-decoration: none;
  padding: 0 8px;
  margin: 20px;
  max-width: 550px;
}

@media only screen and (min-width: 768px) {
  .article {
    width: 45%;
  }
}

@media only screen and (min-width: 1200px) {
  .article {
    width: 30%;
  }
}

.article img {
  top: 0px;
  left: 0px;
  opacity: 1;
  border-radius: 20px;
  margin-bottom: 8px;
}

.article:hover {
  text-decoration: none;
}

.articleContent:hover img {
  opacity: 0.7;
  cursor: pointer;
}

.article .contentContainer {
  padding: 0 8px;
}

.article .type {
  color: var(--ifm-color-primary);
  font-size: 15px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}

.article h3 {
  font-family: var(--ifm-font-family-base);
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color: var(--ifm-font-color-base);
}

.article p {
  font-family: var(--ifm-font-family-base);
  font-size: 16px;
  line-height: 20px;
  color: var(--ifm-font-color-base);
}

.date {
  color: #676767;
  font-size: 14px;
  padding: 2px;
}

.tagContainer {
  width: 100%;
  max-width: 550px;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.tagContainer::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.tagContainer {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.tag {
  margin-right: 5px;
  font-size: 13px;
  padding: 6px;
  height: 20px;
  background-color: var(--ifm-footer-background-color);
  color: var(--ifm-font-color-base);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
  white-space: nowrap;
  cursor: pointer;
}

.tagActive {
  margin-right: 5px;
  font-size: 13px;
  padding: 6px;
  height: 20px;
  background-color: var(--ifm-color-primary);
  color: var(--ifm-footer-background-color);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
  white-space: nowrap;
  cursor: pointer;
}

.searchArea {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 40px;
  margin-top: 10px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 670px) {
  .searchArea {
    flex-direction: column;
  }
}

.filterButton {
  width: 100%;
  max-width: 150px;
  height: 50px;
  margin: 20px;
  padding: 10px;
  background-color: var(--ifm-background-surface-color);
  align-items: center;
  border-style: solid;
  border-color: var(--ifm-font-color-base);
  border-radius: 100px;
  border-width: 1px;
  padding: 10px;
  margin-left: 0;
  margin-bottom: 0;
  font-size: 17px;
  line-height: 24px;
  font-weight: 400;
}

.filterButton:hover {
  background-color: var(--ifm-footer-background-color);
  cursor: pointer;
}

.filterButton:active {
  border-color: var(--ifm-color-primary);
  color: var(--ifm-color-primary);
}

.searchBox {
  width: 100%;
  max-width: 350px;
  height: 50px;
  margin: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-style: solid;
  border-color: #ccc;
  border-radius: 10px;
  border-width: 1px;
  padding: 10px;
  background-color: var(--ifm-background-surface-color);
  margin-bottom: 0;
}

.searchIcon {
  height: 24px;
  width: 24px;
}

.searchBox:focus-within {
  border-color: var(--ifm-color-primary);
  border-width: 2px;
  padding: 9px;
}

.searchBox:hover {
  border-color: var(--ifm-color-primary);
}

.searchTerm {
  width: 100%;
  padding: 5px;
  padding-left: 12px;
  height: 24px;
  border: 0;
  outline: none;
  font-size: 17px;
  line-height: 24px;
  font-weight: 400;
  background-color: var(--ifm-background-surface-color);
}
.searchClearButton {
  border: 0;
  background-color: var(--ifm-background-surface-color);
  padding: 5px;
  align-items: center;
  display: flex;
  height: 24px;
  width: 24px;
}

.noResults {
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: var(--ifm-font-color-base);
  margin-top: 20px;
}
.modalHeader {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  padding-bottom: 0;
  border-width: 0;
  border-color: var(--ifm-footer-background-color);
  border-style: solid;
  border-bottom-width: 2px;
  height: 60px;
}

.modalHeader h2 {
  font-family: var(--ifm-font-family-base);
  font-weight: 900;
  font-size: 24px;
  text-align: center;
}

.modalBody {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px;
  padding-top: 5px;
  overflow: scroll;
  height: calc(80vh - 120px);
}
@media only screen and (max-width: 750px) {
  .modalBody {
    flex-direction: column;
  }
}

.modalTagList {
  width: 300px;
}

.modalTagList h3 {
  font-family: var(--ifm-font-family-base);
  font-weight: 500;
  font-size: 20px;
  text-align: left;
  padding: 5px;
  padding-top: 20px;
}

.checkBoxContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 7px;
  padding-left: 0;
  border-radius: 5px;
}

.checkBoxContainer:hover {
  cursor: pointer;
  background-color: rgba(var(--ifm-color-primary-r), var(--ifm-color-primary-g), var(--ifm-color-primary-b), 0.3);
}

.checkBoxInputContainer {
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkBox {
  width: 20px;
  height: 20px;
  border-color: var(--ifm-footer-background-color);
  background-color: var(--ifm-background-surface-color);
}

.checkBoxLabelContainer {
  color: var(--ifm-font-color-base);
  font-size: 17px;
  font-weight: 400;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalFooter {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  height: 60px;
  position: fixed;
}

.modalClearButton {
  background-color: var(--ifm-background-surface-color);
  font-size: 17px;
  border: none;
  color: var(--ifm-color-primary);
  padding: 10px;
}

.modalClearButton:hover {
  color: var(--ifm-font-color-base);
  cursor: pointer;
}

.modalClearButton:active {
  color: var(--ifm-color-primary-dark);
}

.modalSaveButton {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--ifm-color-primary-dark);
  align-items: center;
  border-style: none;
  border-radius: 100px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 500;
  color: #ffffff;
}

.modalSaveButton:hover {
  background-color: var(--ifm-color-primary-darker);
  cursor: pointer;
}

.modalSaveButton:active {
  background-color: var(--ifm-color-primary-darkest);
}
