.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px 0;
}

.container {
  margin-bottom: 60px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-flow: row wrap;
}

.header h1 {
  font-family: var(--ifm-font-family-base);
  font-size: 60px;
}

.header p {
  font-size: 22px;
}

.header hr {
  width: 50%;
  border: 0;
  border-top: 1px solid #ccc;
  padding: 0;
  margin: 0;
}

.article {
  width: 100%;
  cursor: pointer;
  color: var(--ifm-font-color-base);
  text-decoration: none;
  padding: 0 8px;
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .article {
    width: 45%;
    margin: 2%;
    min-width: 260px;
  }
}

@media only screen and (min-width: 1216px) {
  .article {
    width: 28%;
  }
}

.article img {
  top: 0px;
  left: 0px;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-property: opacity;
  opacity: 1;
  border-radius: 20px;
  margin-bottom: 8px;
}

.article:hover {
  text-decoration: none;
}

.article:hover img {
  opacity: 0.7;
}

.article .contentContainer {
  padding: 0 8px;
}

.article .type {
  color: var(--ifm-color-primary);
  font-size: 15px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}

.article h3 {
  font-family: var(--ifm-font-family-base);
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}

.article p {
  font-family: var(--ifm-font-family-base);
  font-size: 16px;
  line-height: 20px;
}

.article .date {
  color: #676767;
  font-size: 14px;
}

.article .tag {
  margin-right: 5px;
  font-size: 12px;
  color: #9f9f9f;
}
