.tileGroup {
  margin: 30px 0;
}

.tileGroupContent {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2%;
}

.tile {
  border: 1px solid #f1f1f1;
  display: flex;
  background: #ffffff;
  box-shadow: 0px 14px 30px rgba(3, 100, 255, 0.06);
  border-radius: 8px;
  box-sizing: border-box;
  padding: 15px;
  margin-bottom: 2%;
  flex-basis: 32%;
}

.tile:hover {
  text-decoration: none;
  border: 1px solid #0364ff;
}

.tileIcon {
  height: 25px;
  margin-right: 15px;
}

.tileText {
  color: black;
  font-weight: 500;
}

@media (max-width: 996px) {
  .tile {
    flex-basis: 49%;
  }
}

@media (max-width: 600px) {
  .tile {
    flex-basis: 100%;
  }
}

html[data-theme="dark"] .tileText {
  color: rgb(243, 243, 243);
  font-weight: 500;
}

html[data-theme="dark"] .tile {
  border: 1px solid #5f657a;
  background: #2e303b;
  box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.3);
}

html[data-theme="dark"] .tile:hover {
  text-decoration: none;
  border: 1px solid #8cc8ff;
}
