.container {
  display: flex;
  flex-direction: row;
}

.card {
  flex: 1;
  background: #ffffff;
  box-shadow: 0px 14px 28px rgba(92, 108, 127, 0.1);
  border-radius: 6px;
  margin-right: 26px;
  margin-bottom: 26px;
  padding: 30px 40px;
}

.card:last-of-type {
  margin-right: 0;
}

@media (max-width: 1156px) {
  .container {
    flex-direction: column;
  }
  .card {
    margin-right: 0;
  }
}

.card h3 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 4px;
  color: #0f1222;
}

.card p {
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  height: 76px;
  color: #676767;
}

.card .button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  float: right;
  width: 170px;
  height: 40px;
  color: #ffffff;
  border-radius: 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
}

.button1 {
  background: linear-gradient(93.32deg, #0364ff 3.79%, #0016de 100%);
}

.button2 {
  background: linear-gradient(93.32deg, #0364ff 3.79%, #b114fb 100%);
}

.button3 {
  background: linear-gradient(93.32deg, #0364ff 3.79%, #1ac7fe 100%);
}
