.card {
  display: flex;
  background: var(--w3a-banner-background);
  border-radius: 16px;
  padding: 30px;
  overflow: hidden;
  margin-top: 20px;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: max-content;
  gap: 16px;
}


.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 12px;
  flex-grow: 1;
}

.cardContentText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  flex-grow: 1;
}

.cardContent span {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.cardContent h5 {
  font-size: 20px;
  line-height: 150%;
  color: var(--ifm-color-content);
  display: block;
  margin: 0;
  padding: 0;
}

.cardContent p {
  font-size: 15px;
  line-height: 150%;
  display: block;
  margin: 0;
  padding: 0;
  color: var(--w3a-color-icon-gray);
}


.btnContainer {
  margin-top: auto;
  flex-direction: row;
  display: flex;
  justify-content: flex-start;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  gap: 6px;
  flex-wrap: wrap;
}

.imageContainer {
  display: none;
}

@media (min-width: 1106px) {
  .imageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    overflow: hidden;
    position: relative;
    height: max-content;
  }

  .image {
    max-width: 440px;
    width: 100%;
  }
}
