.container {
  display: block;
  background: var(--web3auth-banner-background);
  border-radius: 10px;
  height: max-content;
  padding: 50px 20px 50px 20px;
  overflow: hidden;
  margin-top: 30px;
  width: fit-content;
}

.cardQuickStart {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.content {
  max-width: 472px;
  height: 100%;
  display: flex;
  flex-flow: column;
}

.container .headline {
  font-weight: 600;
  font-size: 36px;
  line-height: 150%;
  color: var(--ifm-color-content);
  margin: 0;
}

.container .description {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--ifm-color-icon-gray);
}

.btnContainer {
  margin-top: auto;
  flex-direction: row;
  display: flex;
  justify-content: flex-start;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  gap: 6px;
  flex-wrap: wrap;
}

.modalContainer {
  display: none;
}

@media (min-width: 500px) {
  .headline {
    font-size: 32px;
  }

  .description {
    font-size: 20px;
  }
}

@media (min-width: 700px) {
  .container {
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .headline {
    font-size: 40px;
  }

  .description {
    font-size: 24px;
  }
}

@media (min-width: 997px) {
  .container {
    padding: 0;
  }
  .cardQuickStart {
    padding: 50px 20px 50px 70px;
  }
  .modal {
    display: "block";
    max-height: "600px";
  }
}

@media (min-width: 1232px) {
  .modalContainer {
    display: block;
    background-image: url("/images/integration-builder-light.png");
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    overflow: hidden;
  }

  html[data-theme="dark"] .modalContainer {
    background-image: url("/images/integration-builder-dark.png");

  }
}
