.container {
  display: flex;
  flex-direction: row;
  gap: 2%;
}

.card {
  border: 1px solid #ffffff;
  flex-basis: 49%;
  background: #ffffff;
  box-shadow: 0px 14px 30px rgba(3, 100, 255, 0.06);
  text-decoration: none;
  border-radius: 8px;
  padding: 30px 40px;
  color: #415875;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2%;
}

.card:hover {
  box-shadow: 0px 14px 30px rgba(3, 100, 255, 0.2);
}

.card:hover .footer {
  color: #0016de;
}

.cardIcon {
  height: 40px;
  width: 40px;
}

.heading {
  color: #445b78;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 32px;
}

@media (max-width: 996px) {
  .container {
    flex-direction: column;
  }
  .card {
    max-width: 100%;
  }
}

.card .title {
  font-size: 20px;
  line-height: 25px;
  color: #405774;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer {
  color: #0364ff;
  font-weight: bold;
}

html[data-theme="dark"] .card {
  border: 1px solid #2e303b;
  background: #2e303b;
  box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.3);
  color: #b3c0ce;
}

html[data-theme="dark"] .card:hover {
  box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.65);
}
html[data-theme="dark"] .card:hover .footer {
  color: #4ba7ff;
}

html[data-theme="dark"] .card .title {
  color: #d3d3d4;
}
html[data-theme="dark"] .card .footer {
  color: #8cc8ff;
}
html[data-theme="dark"] h2 {
  color: #d3d3d4;
}
