.step {
  padding-top: 1.25rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  border-bottom: 1px solid #e5e7eb;
  border-left: 5px solid transparent;
  cursor: pointer;
}

.step:first-of-type {
  border-top: 1px solid #e5e7eb;
}

.step:hover {
  border-left: 5px solid #d1d5db;
}

.stepSelected {
  border-left: 5px solid var(--ifm-color-primary-lightest) !important;
  background-color: #f9fafb;
}
