.heading {
  font-weight: 700 !important;
  font-size: 32px;
  line-height: 48px;
  color: var(--ifm-color-content);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2%;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow: hidden;
}

.card {
  margin-bottom: 2%;
  display: flex;
  flex-direction: row;
  /* white */
  background: var(--ifm-navbar-background-color);
  /* gray/200 */
  border: 1px solid var(--ifm-border-color);
  /* shadow-sm */
  box-shadow: 0px 1px 2px var(--ifm-border-color);
  border-radius: 8px;
  text-decoration: none;
}

.cardContainerIntro, .cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  width: 50%;
  padding: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
  gap: 30px;
  flex-wrap: wrap;
}

.cardContainerIntro {
  border-right: 1px solid  var(--ifm-border-light-color);
  justify-content: center;
}

.cardContainerIntro h3, .cardContainer h3 {
  font-weight: 700 !important;
  font-size: 24px;
  line-height: 150%;
  color: var(--ifm-color-content);
  display: block;
  margin: 0;
  padding: 0;
}

.cardContainerIntro p, .cardContainer p {
  font-weight: 400 !important;
  font-size: 16px;
  line-height: 150%;
  display: block;
  margin: 0;
  padding: 0;
  color: var(--ifm-color-icon-gray);
}

.platformIconSection {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap
}

.platformIconContainer {
  height: 51px;
  width: 51px;
  background-color: var(--ifm-color-icon-background);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* white */
  background: var(--ifm-navbar-background-color);
  /* gray/200 */
  border: 1px solid  var(--ifm-border-light-color);
  border-radius: 8px;
  text-decoration: none;
  padding: 0;
  margin: 0;
  width: max-content;
  overflow: hidden;
}

.selectedTab, .tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: max-content;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 18px;
  padding-right: 18px;
  margin: 0;
  font-weight: 500 !important;
  font-size: 12px;
  line-height: 150%;
  color: var(--ifm-color-icon-gray);
}

.selectedTab {
  color: #FFF;
  background: var(--ifm-color-primary);
}


.tabContent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  flex-wrap: wrap;
}


.sdkIconContainer {
  height: 32px;
  width: 32px;
  padding: 6px;
  background-color: var(--ifm-color-icon-active-background);
  border-radius: 100%;
  margin-top: 3px;
}

.sdkIcon {
  height: 20px;
  width: 20px;
  color: var(--ifm-color-primary);
}

.tabContent:nth-child(odd) .sdkIconContainer {
  background-color: var(--ifm-color-purple-background);
}

.tabContent:nth-child(odd) .sdkIcon {
  color: var(--ifm-color-purple);
}


.tabContentText {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  gap: 8px;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
}

.links a {
  font-weight: 500 !important;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  align-items: center;
  gap: 6px;
  color: var(--ifm-color-primary);
}

.tabContent:nth-child(odd) .links a {
  color: var(--ifm-color-purple);
}

@media screen and (max-width: 996px) {
  .container {
    flex-direction: column;
  }
  .card {
    max-width: 100%;
    justify-content: left;
  }
  .cardContainer {
    justify-content: flex-start;
  }
}

@media (max-width: 1231px) {
  .cardContainerIntro, .cardContainer {
    padding: 25px;
  }
}

  @media (max-width: 996px) {
    .card {
    flex-direction: column;
  }
  .cardContainerIntro, .cardContainer {
    width: 100%;
  }

  .cardContainerIntro {
    border-right: 0;
    border-bottom: 1px solid  var(--ifm-border-light-color);
  }
}
