.headingContainer {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  justify-content: flex-start;
  flex: 0 0 100%;
  flex-wrap: wrap;
  align-items: center;
  top: 70px;
  border: none;
}

.heading {
  font-weight: 500 !important;
  font-size: 32px;
  line-height: 48px;
  color: var(--ifm-color-content);
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2%;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow: visible;
  scroll-behavior: smooth;
}

.card {
  margin-bottom: 2%;
  display: flex;
  flex-direction: row;
  /* white */
  background: var(--ifm-background-surface-color);
  /* gray/200 */
  border: 1px solid var(--w3a-border-color);
  /* shadow-sm */
  border-radius: 8px;
  text-decoration: none;
}

.cardContainerIntro,
.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  width: 50%;
  padding: 50px;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.cardContainerIntro {
  border-right: 1px solid var(--w3a-border-light-color);
}

.cardContainerIntro h3,
.cardContainer h3 {
  font-weight: 500 !important;
  font-size: 24px;
  line-height: 150%;
  color: var(--ifm-color-content);
  display: block;
  margin: 0;
  padding: 0;
}

.cardContainerIntro p,
.cardContainer p {
  font-weight: 400 !important;
  font-size: 16px;
  line-height: 150%;
  display: block;
  margin: 0;
  padding: 0;
  color: var(--w3a-color-icon-gray);
}

.cardTitleContainer {
  display: flex;
  flex-direction: row;
  gap: 11px;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.platformIconSection {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.platformIconContainer {
  height: 51px;
  width: 51px;
  background-color: var(--w3a-color-icon-background);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
}

.tabContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  /* white */
  background: var(--ifm-background-surface-color);
  /* gray/200 */
  border: 1px solid var(--w3a-border-light-color);
  border-right: 0;
  border-radius: 8px;
  text-decoration: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  flex-wrap: wrap;
  cursor: pointer;
}

.selectedTab,
.tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: max-content;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 18px;
  padding-right: 18px;
  margin: 0;
  font-weight: 500 !important;
  font-size: 15px;
  line-height: 150%;
  color: var(--w3a-color-icon-gray);
  border-right: 1px solid var(--w3a-border-light-color);
}

.selectedTab {
  color: #fff;
  background: #1c64f2;
}

.pillContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* white */
  background: var(--w3a-color-icon-active-background);
  border-radius: 8px;
  text-decoration: none;
  padding: 0;
  margin: 0;
  width: max-content;
  overflow: hidden;
  flex-wrap: wrap;
}

.pill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: max-content;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 12px;
  padding-right: 12px;
  margin: 0;
  font-weight: 500 !important;
  font-size: 12px;
  line-height: 150%;
  color: var(--ifm-color-primary);
  flex-wrap: wrap;
}

.cardContent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  flex-wrap: wrap;
}

.sdkIconContainer {
  height: 32px;
  width: 32px;
  padding: 6px;
  background-color: var(--w3a-color-icon-active-background);
  border-radius: 100%;
  margin-top: 3px;
}

.sdkIcon {
  height: 20px;
  width: 20px;
  color: var(--ifm-color-primary);
}

.cardContent:nth-child(even) .sdkIconContainer {
  background-color: var(--w3a-color-purple-background);
}

.cardContent:nth-child(even) .sdkIcon {
  color: var(--w3a-color-purple);
}

.cardContent:nth-child(even) .pillContainer {
  background-color: var(--w3a-color-purple-background);
}

.cardContent:nth-child(even) .pill {
  color: var(--w3a-color-purple);
}

.cardContentText {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  gap: 8px;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  flex-wrap: wrap;
}

.links a {
  font-weight: 500 !important;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  align-items: center;
  gap: 6px;
  color: var(--ifm-color-primary);
}

.links a:hover {
  text-decoration: underline;
}

.cardContent:nth-child(even) .links a {
  color: var(--w3a-color-purple);
}

@media (max-width: 1231px) {
  .cardContainerIntro,
  .cardContainer {
    padding: 25px;
  }
}

@media (max-width: 996px) {
  .container {
    flex-direction: column;
  }
  .headingContainer {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  .card {
    max-width: 100%;
    justify-content: left;
    flex-direction: column;
  }

  .cardContainer {
    justify-content: flex-start;
  }
  .cardContainerIntro,
  .cardContainer {
    width: 100%;
  }

  .cardContainerIntro {
    border-right: 0;
    border-bottom: 1px solid var(--w3a-border-light-color);
  }
}
