.container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.header {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.optionContainer {
  display: flex;
  flex-direction: row;
  margin-right: 2rem;
}

.optionLabel {
  font-weight: 500;
  margin-top: 4px;
  margin-right: 1rem;
}

.body {
  position: relative;
  display: flex;
  flex-direction: row;
}

.contentContainer {
  flex: 1;
}

.srcFilesContainer {
  flex: 2;
  position: sticky;
  background-color: #292834;
  top: 6rem;
  max-height: 83vh;
  margin-left: 1rem;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}

.stepsContainer {
  margin-top: 1rem;
}
