.container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.optionsContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.optionChoices {
  display: flex;
  flex-direction: row;
  margin-right: 2rem;
}

.optionLabel {
  font-weight: 500;
  margin-top: 4px;
  margin-right: 1rem;
}

.stepsContainer {
  margin-top: 1rem;
}
