.container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.header {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.optionContainer {
  display: flex;
  flex-direction: row;
  margin-right: 2rem;
}

.optionLabel {
  font-weight: 500;
  margin-top: 4px;
  margin-right: 1rem;
}

.body {
  position: relative;
  display: flex;
  flex-direction: row;
}

.contentContainer {
  flex: 1;
}

.srcFilesContainer {
  flex: 2;
  position: sticky;
  top: 6rem;
  max-height: 83vh;
  margin-left: 1rem;
  background-color: #212e63;
  border-radius: 0.5rem;
}

.stepsContainer {
  margin-top: 1rem;
}
