.header {
  background: red;
  padding: 1rem 2rem;
  margin: 0;
}

.content {
  background: yellow;
  min-width: 1000px;
}

.body {
  width: 100%;
}

.leftCols {
  color: white;
  background: blue;
  width: 40%;
}

.rightCols {
  color: white;
  background: green;
  width: 60%;
  height: 86vh;
  position: sticky;
  top: 11vh;
}
