.header {
  background: red;
  padding: 1rem 2rem;
  margin: 0;
}

.body {
  background: yellow;
  padding: 2rem 0 2rem 2rem;
}

.guide {
  color: white;
  background: blue;
}

.source {
  color: white;
  background: green;
  height: 86vh;
  position: sticky;
  top: 11vh;
}

@media (min-width: 1024px) {
  .body {
    padding-right: 1.25rem;
  }
  .guide {
    flex: 7;
  }
  .source {
    flex: 10;
  }
}
