.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
  width: 100%;
  margin-bottom: 16px;
  gap: 10px;
}

.dateContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.dateContainer strong {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
}

.date {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--ifm-color-emphasis-600);
}

.title {
  font-family: var(--ifm-heading-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 36px !important;
  line-height: 125%;
}

.excerpt {
  font-family: var(--ifm-heading-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  color: var(--ifm-color-emphasis-600);
}

.topMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  padding-left: 0;
  padding-right: 0;
  border-top: 1px solid var(--w3a-border-light-color);
  border-bottom: 1px solid var(--w3a-border-light-color);
  margin-top: 8px;
  gap: 10px;
}

.authorName {
  gap: 10px;
  text-align: left;
  align-self: center;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.socialButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}

.socialButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px 8px 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  border: 1px solid var(--w3a-border-light-color);
  background-color: var(--ifm-background-surface-color);
  border-radius: 8px;
  cursor: pointer;
  gap: 8px;
}

.socialButton:hover {
  background-color: var(--w3a-border-light-color);
}
.socialButton:active {
  border: 1px solid var(--w3a-menu-heading-color);
  background-color: var(--w3a-menu-heading-color);
}

.embed {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bookmarkButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px 8px 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  border: none;
  background-color: var(--ifm-background-color);
  border-radius: 8px;
  gap: 8px;
}

.cover {
  width: 100%;
  text-align: center;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottomMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  padding-left: 0;
  padding-right: 0;
  border-top: 1px solid var(--w3a-border-light-color);
  border-bottom: 1px solid var(--w3a-border-light-color);
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 10px;
}

.introduction {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: var(--ifm-color-emphasis-600);
  padding-top: 30px;
  padding-bottom: 30px;
}

blockquote {
  border-left: 4px solid var(--ifm-color-emphasis-400);
  box-shadow: none;
  color: var(--ifm-color-emphasis-800);
  font-size: 20px;
  line-height: 162.5%;
  font-weight: 400;
  margin: 32px 36px 32px;
  padding: 0 24px;
  font-style: italic;
}

@media only screen and (max-width: 750px) {
  .topMenu {
    flex-direction: column;
  }
  .bottomMenu {
    flex-direction: column;
  }
}
