.pre {
  text-align: left;
  margin: 1em 0;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  height: 77vh;
}

.line {
  display: block;
}

.lineNo {
  display: inline-block;
  min-width: 40px;
  text-align: right;
  padding-right: 20px;
  user-select: none;
  opacity: 0.5;
}

.lineContent {
  display: inline;
}
