.container {
  display: flex;
  flex-direction: row;
}

.card {
  flex: 1;
  background: #ffffff;
  max-width: 48%;
  text-decoration: none;
  box-shadow: 0px 14px 28px rgba(92, 108, 127, 0.1);
  border-radius: 6px;
  margin-right: 26px;
  margin-bottom: 26px;
  padding: 30px 40px;
}

.cardOne {
  box-shadow: 0px 14px 28px rgba(3, 100, 255, 0.1);
}

.cardTwo {
  box-shadow: 0px 14px 28px rgba(0, 22, 222, 0.1);
}


.card:hover {
  text-decoration: none;
}

.card:last-of-type {
  margin-right: 0;
}

.poweredBy {
  display: inline-flex;
  align-items: center;
  margin-bottom: 0;
  text-decoration: none;
}

.poweredBy span {
  margin-top: 2px;
  font-size: 13px;
  white-space: nowrap;
  color: #676767;
}

.poweredBy img {
  display: inline;
  height: 40px;
  margin-left: 8px;
}

@media (max-width: 1156px) {
  .container {
    flex-direction: column;
  }
  .card {
    margin-right: 0;
    max-width: 100%;
  }
}

.card h3 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 4px;
  display: inline-flex;
  align-items: center;
  color: #0f1222;
}

.card h3 > svg {
  margin-right: 4px;
}

.card .headline {
  font-family: Avenir;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  height: 76px;
  color: black;
}
