.content {
  text-align: center;
  padding: 5px 0;
  font-weight: 600 !important;
  font-size: 14px;
  line-height: 150%;
}

.content a {
  color: inherit;
  text-decoration: none !important;
}

.content a:hover {
  text-decoration: underline !important;
}
