.container {
  display: flex;
  flex-direction: row;
  gap: 2%;
}

.card {
  flex-basis: 100%;
  background: #ffffff;
  box-shadow: 0px 14px 30px rgba(3, 100, 255, 0.06);
  text-decoration: none;
  border-radius: 8px;
  padding: 30px 40px;
  color: #415875;
  margin-bottom: 2%;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: center;
}

.cardIcon {
  align-self: center;
  justify-content: center;
  height: 40px;
  width: 40px;
}

.cardContent {
  text-align: left;
  align-content: center;
}

.heading {
  color: #445b78;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 32px;
}

@media (max-width: 996px) {
  .container {
    flex-direction: column;
  }
  .card {
    max-width: 100%;
  }
  .cardContainer {
    justify-content: flex-start;
  }
}

.card .title {
  font-size: 20px;
  line-height: 25px;
  color: #405774;
  padding-top: 10px;
  padding-bottom: 10px;
}

.card a.footer {
  color: #0364ff;
  font-weight: bold;
  display: block;
}

html[data-theme="dark"] .card {
  background: #2e303b;
  box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.3);
  color: #b3c0ce;
}

html[data-theme="dark"] .card .title {
  color: #d3d3d4;
}
html[data-theme="dark"] .card a.footer {
  color: #8cc8ff;
}
html[data-theme="dark"] h2 {
  color: #d3d3d4;
}
