.card {
  display: flex;
  background: rgb(0, 49, 126);
  background: -moz-radial-gradient(circle, rgba(0, 49, 126, 1) 0%, rgba(1, 2, 32, 1) 56%);
  background: -webkit-radial-gradient(circle, rgba(0, 49, 126, 1) 0%, rgba(1, 2, 32, 1) 56%);
  background: radial-gradient(circle, rgba(0, 49, 126, 1) 0%, rgba(1, 2, 32, 1) 56%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00317e",endColorstr="#010220",GradientType=1);
  border-radius: var(--ifm-global-radius);
  padding: 42px;
  overflow: hidden;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: max-content;
  gap: 36px;
}

.cardContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 3;
  gap: 10px;
}

.card h3 {
  font-weight: 600 !important;
  font-size: 30px;
  line-height: 150%;
  color: var(--ifm-color-white);
  margin: 0;
}

.card p {
  font-weight: 400 !important;
  font-size: 16px;
  line-height: 150%;
  color: var(--ifm-color-white);
}

.ctaBtn {
  cursor: pointer;
  border-radius: 10px;
  border: 0;
  font-weight: 700;
  font-size: 16px;
  height: 42px;
  padding: 0 30px;
  background: #ffffff;
  color: #0364ff;
  /* margin-left: 16px; */
}

.ctaBtn:hover {
  background: #f3f3f4;
  text-decoration: none;
}

.ctaBtn:active {
  background: #daf0ff;
}

.imageContainer {
  display: none;
}

@media (min-width: 700px) {
  .card {
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card h3 {
    font-size: 32px;
  }
}

@media (min-width: 1232px) {
  .card {
    border-radius: 36px;
    padding: 42px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .cardContent {
    padding-top: 42px;
    padding-bottom: 42px;
  }

  .card h3 {
    font-size: 36px;
  }

  .imageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 3;
    overflow: hidden;
    position: relative;
    height: max-content;
  }

  .image {
    max-width: 440px;
    width: 100%;
  }
}

@media (min-width: 1306px) {
  .imageContainer {
    flex: 2;
  }

  .card h3 {
    font-size: 40px;
  }

  .card p {
    font-size: 24px;
  }
}
