.codeBlockContainer {
  background: var(--prism-background-color);
  color: var(--prism-color);
  margin-bottom: var(--ifm-leading);
  box-shadow: var(--ifm-global-shadow-lw);
  border-radius: var(--ifm-code-border-radius);
}

.codeBlockContainer :global ::-webkit-scrollbar {
  background-color: var(--ifm-background-surface-color);
  width: 2px;
  height: 2px;
}

.codeBlockContainer ::-webkit-scrollbar-thumb {
  background: var(--ifm-color-gray-400);
  border-radius: 8px;
}

.codeBlockContainer ::-webkit-scrollbar-thumb:hover {
  background: #838693;
}

.codeBlockContainer :global ::-webkit-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
